* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.body {
  max-width: 1800px;
}

.conteiner {
  max-width: 1800px;
  margin: 0px auto;
  padding: 0px;
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .conteiner {
    min-width: 768px;
    max-width: 1023px;
  }
}
@media screen and (min-width: 1024px) {
  .conteiner {
    min-width: 1024px;
    max-width: 1800px;
  }
}

.start {
  background-image: url(/img/head/Head_skale.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1770px;
  width: 100vw;
  height: 55vw;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) {
  .start {
    min-width: 320px;
    max-width: 767px;
    height: 100%;
    background-size: auto;
  }
}
@media screen and (min-width: 768px) {
  .start {
    min-width: 768px;
    max-width: 1119px;
    height: 100%;
    background-size: auto;
  }
}
@media screen and (min-width: 1024px) {
  .start {
    min-width: 1024px;
    max-width: 1800px;
    background-size: auto;
  }
}

.head-block {
  max-width: 758px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .head-block {
    min-width: 320px;
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .head-block {
    min-width: 768px;
    max-width: 1119px;
  }
}
@media screen and (min-width: 1024px) {
  .head-block {
    min-width: 1024px;
    max-width: 1800px;
  }
}
.head-block .h1-text {
  min-width: 758px;
  min-height: 324px;
  margin-left: 100px;
  margin-top: 200px;
  /* @media screen and (min-width:320px) {
              min-width: 320px;
              max-width: 767px;
              margin-left: -5px;

          }

          @media screen and (min-width:768px) {
              min-width: 758px;
              max-width: 1119px;
          }

          @media screen and (min-width:1024px) {
              min-width: 758px;
              max-width: 1800px;
          }
  */
}
.head-block .h1-text .h1 {
  min-width: 335px;
  min-height: 26px;
  font-size: 48px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.head-block .h1-text .text-title {
  max-width: 345px;
  max-height: 26px;
  font-weight: 400px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  display: inline;
}
.head-block .input-but {
  max-width: 650px;
  max-height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: white;
  margin-left: 650px;
  margin-top: -210px;
  /*
  @media screen and (min-width:320px) {
      min-width: 65vw;
      margin-left: auto;
  }

  @media screen and (min-width:768px) {
      min-width: 100px;
      margin-left: 100px;

  }

  @media screen and (min-width:1024px) {
      min-width: 600px;

  }*/
}
.head-block .input-but .input {
  max-width: 500px;
  max-height: 60px;
  /*@media screen and (min-width:320px) {
      min-width: 65vw;
      text-align: center;
  }

  @media screen and (min-width:768px) {
      width: 65vw;


  }

  @media screen and (min-width:1024px) {
      min-width: 35vw;


  }*/
}
.head-block .input-but .but {
  min-width: 150px;
  min-height: 60px;
  background-color: #5474FD;
  color: white;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-align: center;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(0.18deg);
          transform: rotate(0.18deg);
  margin-left: 50px;
  /*
  @media screen and (min-width:320px) {
      min-width: 33vw;

  }

  @media screen and (min-width:768px) {
     min-width: 150px;
     max-width: 200px;
  }

  @media screen and (min-width:1024px) {
      min-width: 150px;

  }
  .ico-search {
      min-width: 20px;
      min-height: 20px;
      margin-top: 3px;
  }*/
}

.scroll-ico {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 88px;
  min-width: 108px;
  min-height: 46px;
}
.scroll-ico .scroll {
  color: white;
  margin-left: 50px;
}
.scroll-ico .ico {
  margin-top: 6px;
  width: 17px;
  height: 11px;
  margin-left: 50px;
}

.h2-nav {
  background-color: #5474FD;
  min-width: 320px;
  max-width: 1770px;
  min-height: 81px;
  color: white;
  margin-left: 15px;
}

.h2 {
  max-width: 186px;
  max-height: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  padding-top: 30px;
  padding-left: 350px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.ul {
  min-width: 525px;
  min-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 600px;
  margin-top: -10px;
}
.ul .we-are {
  min-width: 126px;
  min-height: 26px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.ul .we-do {
  min-width: 128px;
  min-height: 26px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.ul .travel {
  min-width: 148px;
  min-height: 26px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.ul .contact {
  min-width: 117px;
  min-height: 26px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.choose {
  background-image: url(/img/Choose/Rectangle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 38vw;
  overflow-x: hidden;
  max-width: 1770px;
  max-height: 685px;
  margin-left: 15px;
  overflow-y: hidden;
}
.choose .choose-title {
  color: white;
  min-width: 288px;
  min-height: 26px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  margin-top: 200px;
  margin-left: 350px;
}
.choose .text {
  max-width: 560px;
  max-height: 158px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #E8E8E8;
  margin-top: 100px;
  margin-left: 350px;
}
.choose .but {
  max-width: 225px;
  max-height: 60px;
  margin-left: 350px;
  margin-top: 16px;
}
.choose .but .explore {
  max-width: 179px;
  max-height: 26px;
  color: white;
  font-size: 26px;
  background: #5474FD;
  letter-spacing: 1.2px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.choose .home {
  max-width: 350px;
  max-height: 220px;
  float: right;
  margin-right: 420px;
  margin-top: -350px;
}
.choose .skale {
  max-width: 350px;
  max-height: 220px;
  float: right;
  margin-right: 315px;
  margin-top: -120px;
}

.search {
  max-width: 1773px;
  max-height: 337px;
  margin-top: -3px;
  margin-left: 6px;
  width: 100vw;
}

.massandre-ocean {
  min-width: 320px;
  max-width: 1770px;
  max-height: 1400px;
  width: 100vw;
  height: 39vw;
  background-image: url(/img/section/masandre.jpg);
  margin-left: 13px;
  background-repeat: no-repeat;
  background-position: center;
}
.massandre-ocean .massandre {
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 38vw;
  overflow-x: hidden;
  max-width: 1770px;
  max-height: 700px;
  margin-left: 15px;
  overflow-y: hidden;
  color: white;
}
.massandre-ocean .massandre .background {
  max-width: 536px;
  max-height: 372px;
  background-color: black;
  opacity: 70%;
  margin-top: 300px;
  margin-left: 300px;
}
.massandre-ocean .massandre .spain {
  max-width: 80px;
  max-height: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
  margin-top: 49px;
  margin-left: 20px;
}
.massandre-ocean .massandre .h2-spain {
  max-width: 241px;
  max-height: 26px;
  width: 241px;
  height: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 20px;
}
.massandre-ocean .massandre .text-spain {
  max-width: 508px;
  max-height: 78px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 19px;
}
.massandre-ocean .massandre .but-book {
  max-width: 228px;
  max-height: 63px;
  font-size: 16px;
  background-color: #5474FD;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 13px;
  margin-left: 17px;
  margin-bottom: 52px;
}
.massandre-ocean .massandre .but-text {
  width: 105.68px;
  height: 23.04px;
  left: 64px;
  top: 21px;
  font-family: Aleo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.ocean {
  min-width: 320px;
  max-width: 1770px;
  max-height: 1400px;
  width: 100vw;
  height: 39vw;
  background-image: url(/img/section/ocean.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
}
.ocean .background {
  max-width: 543px;
  max-height: 374px;
  background-color: black;
  opacity: 70%;
  float: right;
  margin-top: 227px;
  margin-right: 330px;
}
.ocean .spain {
  max-width: 80px;
  max-height: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
  margin-top: 49px;
  margin-left: 20px;
}
.ocean .h2-spain {
  max-width: 241px;
  max-height: 26px;
  width: 241px;
  height: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 20px;
}
.ocean .text-spain {
  max-width: 508px;
  max-height: 78px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 19px;
}
.ocean .but-book {
  max-width: 228px;
  max-height: 63px;
  font-size: 16px;
  background-color: #5474FD;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 13px;
  margin-left: 17px;
  margin-bottom: 50px;
}
.ocean .but-text {
  width: 105.68px;
  height: 23.04px;
  left: 64px;
  top: 21px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tourist-say {
  max-width: 1770px;
  max-height: 731px;
  background-image: url(/img/tourist/Rectangle41421.jpg);
  width: 100vw;
  height: 70vw;
  margin-top: 680px;
  margin-left: 13px;
}
.tourist-say .tourist-mini {
  max-width: 445px;
  max-height: 284px;
  margin-left: 331px;
  margin-top: 93px;
}
.tourist-say .tourist-text {
  display: block;
  max-width: 668px;
  max-height: 287px;
  color: white;
  margin-left: 773px;
  margin-top: -245px;
}
.tourist-say .tourist-text .h3-text {
  max-width: 150px;
  max-height: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 62px 83px 25px 39px;
}
.tourist-say .tourist-text .tourist-story {
  max-width: 581px;
  max-height: 165px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 83px 25px 39px 62px;
}
.tourist-say .tourist {
  max-width: 390px;
  max-height: 26px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
  margin-left: 690px;
  padding-top: 128px;
}

/*font-family: 'Aleo', serif;
font-family: 'Josefin Sans', sans-serif;*/